<% domain = ENV.fetch("DOMAIN") %>

<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body style="font-family:Arial, sans serif; background: whitesmoke">
		<br>
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="10%"></td>
				<td width="80%"><%= image_tag "https://#{domain}/images/email_header.png", alt: ENV.fetch("BRAND") %></td>
				<td width="10%"></td>
			</tr>
			<tr>
				<td width="10%"></td>
				<td style="background: white; border: 1px solid #CCC; padding: 20px" align="left" width="80%">
					<p>Hey,</p>
					<p>Just a quick email to let you know that the OpenSit blog is live!</p>
					<p><a style="font-weight:bold;" href="http://blog.<%= domain %>/opensit-is-your-community">Read the first post: <%= ENV.fetch("BRAND") %> is your community</a>.
					<p>We have loads more planned for the blog:</p>
					<ul style="color:#666">
						<li>Tips and advice on meditation.</li>
						<li>Ways to improve your journalling.</li>
						<li>News and updates on contemplative research.</li>
						<li>Interviews, videos, and lots more!</li>
					</ul>
					<p>The best way to keep up with the blog is to follow @<%= link_to ENV["TWITTER_ID"], "https://twitter.com/#{ENV["TWITTER_ID"]}" %> or <a href="http://blog.<%= domain %>/rss/">subscribe by RSS</a>.</p>
					<p>Happy sitting!</p>
					<%= render "user_mailer/signature" %>
				</td>
				<td width="10%"></td>
			</tr>
		</table>
		<br><br><br>
	</body>
</html>
