<%
  domain = Rails.application.secrets.domain
  brand  = Rails.application.secrets.brand
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: Arial, sans serif; background: whitesmoke;">
    <br>
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%"></td>
        <td width="80%"><%= image_tag "http://#{domain}/images/email_header.png", alt: brand %></td>
        <td width="10%"></td>
      </tr>
      <tr>
          <td width="10%"></td>
          <td>
            <p>Добро пожаловать в сообщество <%= brand %>!</p>
            <p>Привет, спасибо за то, что вы присоединились к <%= brand %>!</p>
            <p>Надеемся, что вы скоро освоитесь на сайте и вам понравится быть с нами!</p>
            <p>Чтобы получить от сообщества открытой практики максимум пользы, заполните свой профиль пользователя на сайте, добавляйте друзей, а также исследуйте основную ленту дневников — возможно, чьи-то отчёты о медитации будут содержать для вас ценные подсказки.</p>
            <p>С любыми вопросами, комментариями и предложениями смело пишите нам на <%= mail_to Rails.application.secrets.public_email %>.</p>
            <p>Успешной вам практики!</p>
            <p><%= Rails.application.secrets.public_person %><br><%= domain %></p>
          </td>
          <td width="10%"></td>
      </tr>
    </table>
    <br>
  </body>
</html>
