<%
	domain = Rails.application.secrets.domain
	twitter_id = Rails.application.secrets.twitter_id
%>

<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body style="font-family: Arial, sans serif; background: whitesmoke;">
		<br>
		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="10%"></td>
				<td width="80%"><%= image_tag "http://#{domain}/images/email_header.png", alt: Rails.application.secrets.brand %></td>
				<td width="10%"></td>
			</tr>
			<tr>
					<td width="10%"></td>
					<td>
						<p>Hey,</p>
						<p>Thanks for joining <%= Rails.application.secrets.brand %>! We hope everything makes sense and you enjoy being part of our community.</p>
						<p>To get the most out of the site try <a href="http://<%= domain %>/users/edit">filling out your profile</a>, <a href="http://<%= domain %>/explore/users/active">making some new friends</a>, and exploring our <a href="http://<%= domain %>/explore">Global SitStream</a>.
						<p>If you have any questions, suggestions or issues you can just reply to this email or send a new one to <%= mail_to Rails.application.secrets.public_email %>. My name is <%= Rails.application.secrets.public_person %>, and I'll get back to you quickly. You can also tweet us at @<%= link_to twitter_id, "https://twitter.com/#{twitter_id}" %>.</p>
						<p>Happy sitting!</p>
						<%= render "user_mailer/signature" %>
					</td>
					<td width="10%"></td>
			</tr>
		</table>
		<br>
	</body>
</html>
