<a name="comment-<%=@comment.id%>"></a>
<div class="comment">
  <div class="comment-body"><%= @comment.body.html_safe %></div>
  <div class="user">
    <div class="avatar"><%= small_avatar_of(@comment.user) %></div>
    <%= username(@comment.user) %><br> <%= time_ago_in_words(@comment.created_at) %> <%= t('ago') %>

    <% if current_user == @comment.user %>
      <br><%= link_to t('comments.delete'), sit_comment_path(@sit, @comment), method: :delete, data: { confirm: t('comments.confirm_delete') }, class: 'delete-goal' %>
    <% end %>

  </div>
</div>