<% if !@user.following_anyone? %>
	<%= render 'shared/user_summary' %>
	<div class="col-lg-9">
		<div class="message-box no-follow">
			<h2><%= t "me.empty_follow_list_header" %></h2>
			<a href="/explore"><%= t "me.explore_link" %></a>
			<p><%= t "me.wall_help" %></p>
		</div>
	</div>

<% else %>
	<div class="sit-container">
		<%= render 'shared/user_summary' %>
		<% @feed_items.each do |sit| %>
			<%= render 'shared/sit_teaser_block', sit: sit, width: 3 %>
		<% end %>
	</div>

	<div class="pagination-container">
		<%= will_paginate @feed_items, renderer: BootstrapPagination::Rails %>
	</div>
<% end %>
