<div itemscope itemtype="http://schema.org/Person">

  <div class="sidebar col-md-3">
    <%= render 'shared/full_user' %>
  </div>

  <div class="clearfix col-md-9">

    <%= link_to fa_icon("long-arrow-left", text: t("navigation.back_to_new_users")), request.referrer, class: "back-button btn btn-default" if (request.referrer =~ /explore\/users/) %>

    <%# Is this someone elses private journal? %>
    <% if @user.private_stream && (current_user != @user) %>
      <div class="message-box">
        <h2>Private.</h2>
        <p>This is a private journal.</p>
      </div>
    <% else %>

      <% if !params[:month] && !params[:year] %>
        <%# You've not filled out your profile %>
        <% if current_user == @user && @user.who.blank? && @user.why.blank? && @user.practice.blank? %>
          <div class="message-box fill-out-your-profile">
            <h3><%= t("profile.empty.title") %></h3>
            <p><%= t("profile.empty.subtitle") %></p>
            <div class="my-actions">
              <%= link_to t("profile.empty.button"), edit_registration_path(@user), class: 'edit-profile-btn btn btn-primary btn-default' %>
            </div>
          </div>
        <% else %>

          <% if @user.who.present? %>

            <div class="profile">
              <p class="lead" itemprop="description">
                <%= @user.who.html_safe %>
                <%= link_to "More", "#", class: "expand-profile" if (!@user.practice.blank? || !@user.why.blank?) %>
              </p>

              <%# Add edit profile link if it is your own profile %>
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'edit-profile' if (@user == current_user) %>

              <div class="full-profile">
                <% if @user.why.present? %>
                  <div class="profile-field">
                    <div class="title">Why do you practice?</div>
                    <%= @user.why.html_safe %>
                  </div>
                <% end %>

                <% if @user.practice.present? %>
                  <div class="profile-field">
                    <div class="title">How do you practice?</div>
                    <%= @user.practice.html_safe %>
                  </div>
                <% end %>

              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% if @sits %>
        <div class="month-view">

          <% if !@stats[:days_sat_this_month].zero? %>
            <select class="date_range_select">
              <%= timeline(@by_month[:sitting_totals]) %>
            </select>
          <% end %>

          <div class="month_stats_container">
            <p class="month_stats">
              <% if @user.sits.empty? %>
                <%= t("profile.feed.empty") %>
              <% elsif @stats[:days_sat_this_month].zero? %>
                Zzzzz... Nothing logged this month. <%= link_to "Check out their latest journal entries.", "?year=#{@first_month[0]}&month=#{@first_month[1]}", class: "previous" %>
              <% else %>
                <%= t("stats.sat") %>
                <%= @stats[:days_sat_this_month] %>
                <%= t("stats.days") %>
                <%= t("stats.this_month") %>,
                <%= t("stats.totalling") %>
                <%= @stats[:time_sat_this_month] %>
                <%= t("stats.of_practice") %>.
                (<%= @stats[:entries_this_month] %> <%= t("stats.entries") %>)
              <% end %>
            </p>
          </div>

          <div class="clearfix"></div>

          <% @listed = [] %>
          <%= render collection: @sits, partial: 'sits/day_journal', as: :sit %>

          <% if !@stats[:days_sat_this_month].zero? %>
            <div class="month_navigation col-md-12">
              <%= link_to fa_icon("long-arrow-left",  text: t("navigation.previous")), "?year=#{@prev[0]}&month=#{@prev[1]}", class: "previous" if @prev %>
              <%= link_to fa_icon("long-arrow-right", text: t("navigation.next")),     "?year=#{@next[0]}&month=#{@next[1]}", class: "next" if @next %>
            </div>
          <% end %>

        </div>
      <% end %>

      <% if current_user && current_user.username.in?(User::MODERATOR_USERNAMES) %>
        <div class='mod-delete-user'>
          <%= link_to 'Delete this user?', user_path(@user), method: :delete, data: { confirm: 'Delete this user?' }, class: 'delete-user' %>
        </div>
      <% end %>

    <% end %>
  </div>
</div>
