<div class="section sign-up-box">
  <div class="well col-sm-8">

    <div class="row">
      <div class="brand-header">
        <%= image_tag 'logomark_trans.png', class: 'main-logo' %>
        <p class="opensit">opensit</p>
      </div>
    </div>

      <h1><%= t "sign_up.h1" %></h1>

    <div class="row">
      <div class="left col-md-offset-3 col-md-6">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { honeypot: true } ) do |f| %>
          <%= f.error_notification %>

          <%= f.input :username, placeholder: t("sign_up.form.username"), label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :email, placeholder: t("sign_up.form.email"), label: false, input_html: { autocomplete: 'off' } %>

          <%= f.input :password, placeholder: t("sign_up.form.password"), label: false, input_html: { autocomplete: 'off' } %>

          <%= f.submit t("sign_up.form.button"), class: 'btn btn-primary btn-lg cta pull-left' %>

          <div class="sign_in_link"><%= t "sign_up.already" %> <%= link_to t("sign_up.sign_in"), new_user_session_path %></div>
        <% end %>

      </div>
    </div>

    <div class="row col-md-12">
      <div class="our-community">
        <h2><%= t "sign_up.global_community" %></h2>
        <% @users.each do |u|%>
          <div class="user-snippet">
            <%= sign_up_avatar(u) %>
            <div class="details"><%= u.display_name %><br>
            <%= u.location %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
