<div class="page text-section">

	<h1><%= t('pages.about') %></h1>
	<%= image_tag 'logos/logo-1.svg', class: 'logomark', alt: Rails.application.secrets.brand %>
	<p>Всё больше людей обращается к медитации как способу привнести ясность, смысл и уравновешенность в свою жизнь. Миллионы людей, и это подтверждают также современные научные исследования, используют медитацию как способ тренировки ума и изменения мозга.</p>
	<p>Мы следуем современной традиции «прагматичной Дхармы» и научно-обоснованной практике медитации. Идея этого подхода в том, что мы можем совместно изучать, практиковать и оттачивать созерцательные технологии для того, чтобы радикально менять качество своей жизни к лучшему, без какой-либо религиозной мифологии и духовных гуру.</p>
	<p>Этот подход отражает более широкие культурные изменения в понимании медитации. Сотни созерцательных традиций теперь доступны нам, и мы можем критически исследовать и подтверждать пользу их практической составляющей, при этом отказываясь от их бесполезных мифов, суеверий, предубеждений и догм, которые мешают свободному обсуждению и распространению медитативных технологий.</p>
	<p>Этот сдвиг в сторону прозрачности и честности естественным образом подчёркивает первичность практики, а не веры. Вести дневник собственной практики — это прекрасный способ внести больше ясности и рефлексии в ваш путь, а делиться своими заметками — это прекрасный способ получить поддержку и обратную связь от других практикующих.</p>
	<p>Культура медитации развивается. В сообществе OpenSit мы исследуем, что значит для нас современная научно-обоснованная практика медитации, как мы можем поддерживать друг друга оптимальным образом, и какие эффекты можно от медитации получить, от успокоения до просветления.</p>

	<h2>Открытость</h2>
	<p>OpenSit исповедует полную открытость. И это не просто разговоры — мы это практикуем. Сам OpenSit — это эксперимент открытости. Код сайта распространяется по лицензии open source. Мы приветствуем любые идеи, любую обратную связь о том, как можно сделать это сообщество ещё более живым и устойчивым.</p>
	<p>Мы видим огромную ценность в этом пересечении современной медитации, созерцательной науки и онлайн- сообществ. Мы приглашаем вас внести свой вклад в эту синергию.</p>

	<h2>Что мы хотим</h2>
	<ul>
		<li>
			<p>Организовать живое свободное сообщество для всех, кто готов делиться отчётами своей практики медитации.</p>
			<p>Постепенно, это может означать совместное исследование совершенно новых способов понимать созерцательные технологии, делиться ими и преподавать их.</p>
		</li>
		<li>
			<p>Публиковать контент, вдохновляющий других людей пробовать медитацию. Ваш дневник практики может оказаться столь нужной поддержкой и вдохновением для других людей, и настоящим топливом для совместного развития и роста.</p>
			<p>Бессамостность, которую можно обнаружить в медитации — это слишком дорогая штука, чтобы скрывать её.</p>
		</li>
		<li>
			<p>Продвигать прагматичный, DIY-подход к медитации, который опирается на практику и честность, а не на мифы и верования. Такой подход подчёркивает важность взаимной поддержки, исследовательского драйва и духа приключений, а не следование моде или своим фантазиям.</p>
			<p>Медитация должна сама стать технологией с открытым кодом, и дневники практики — это важная часть этого процесса.</p>
		</li>
	</ul>

	<p>Основатель англоязычного OpenSit — <%= link_to "Dan Bartlett", "http://danbartlett.co.uk", target: "_blank" %>.</p>
	<p>Инициатор русскоязычной версии сайта — Виктор Ширяев, автор проекта <%= link_to "Деятельное присутствие", "http://victorshiryaev.org", target: "_blank" %>, со-основатель онлайн-портала тренировки осознанности <%= link_to "mind.space", "https://mind.space", target: "_blank" %>, интегрального онлайн-журнала <%= link_to "Эрос и Космос", "http://eroskosmos.org", target: "_blank" %> и центра практики осознанности <%= link_to "Mindspot", "http://mindspot.center", target: "_blank" %>.</p>

</div>
