<div class="sidebar col-xs-12 col-lg-3">
  <%= render 'explore_tile' %>
</div>

<div class="clearfix col-xs-12 col-lg-9">
	<% @comments.each do |comment| %>
	  <div class="comment-teaser">
	    <div class="comment-meta">
	    	<div class="avatar"><%= small_avatar_of(comment.user) %></div>
	    	<div class="text">
	    		<div class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</div>
		    	<div class="summary">
		    		<%= t("comments.commented_on_#{sit_type_for(comment)}_html", annotator: username(comment.user, true), link: link_by(comment), username: username(comment.sit.user, true)).html_safe %>
				 	</div>
				</div>
	    </div>
	    <div class="body">
	    	<%= comment.body.html_safe %>
	    </div>
	  </div>
	<% end %>

	<div class="pagination-container">
   	<%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
  </div>
</div>
